html{
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
   font-style: normal;
   font-size: 16px;
   line-height: 1.2;
   font-weight: normal;
   color: black;
 }

 .wrapper {
    max-width: 1060px; /*блок всегда будет ограничиваться по ширине*/
    margin: 0 auto; /*по центру выравнивает*/
 }

 .header{
    position: fixed; /*фиксирует хедер*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: beige;

}
.nav_list {
    display: flex;
    justify-content: space-around; /*разбрасывает по ширине*/
    list-style: none; /*убрали точки*/
    margin: 0;
}
.nav a{
    line-height: 50px;
    color: black;
}
